myexample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- xs:attributeGroup Example -->
  <xs:attributeGroup name="addressAttributes">
    <xs:attribute name="street" type="xs:string"/>
    <xs:attribute name="city" type="xs:string"/>
    <xs:attribute name="postalCode" type="xs:string"/>
  </xs:attributeGroup>

  <!-- Complex type with xs:restriction -->
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="postalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Complex type with xs:extension -->
  <xs:complexType name="ExtendedAddress">
    <xs:complexContent>
      <xs:extension base="Address">
        <xs:sequence>
          <xs:element name="country" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- xs:union with simple and complex types -->
  <xs:complexType name="UnionExample">
    <xs:sequence>
      <xs:element name="value">
        <xs:simpleType>
          <xs:union memberTypes="xs:string xs:int"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- xs:choice Example -->
  <xs:complexType name="ChoiceExample">
    <xs:sequence>
      <xs:choice>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="id" type="xs:int"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- xs:all Example -->
  <xs:complexType name="AllExample">
    <xs:all>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <!-- xs:list Example -->
  <xs:complexType name="ListExample">
    <xs:sequence>
      <xs:element name="tags" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Element using xs:attributeGroup -->
  <xs:element name="person" type="Person"/>

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="address" type="ExtendedAddress"/>
      <xs:element name="preferences" type="ListExample"/>
      <xs:element name="unionData" type="UnionExample"/>
      <xs:element name="choiceData" type="ChoiceExample"/>
    </xs:sequence>
    <xs:attributeGroup ref="addressAttributes"/>
  </xs:complexType>

  <!-- Enumeration Example -->
  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Female"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Element with default value only (fixed removed) -->
  <xs:element name="gender" type="GenderType" default="Male"/>

  <!-- Element with pattern and length restriction -->
  <xs:element name="phoneNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{10}"/>
        <xs:minLength value="10"/>
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- xs:any Example -->
  <xs:element name="anyElement" type="xs:anyType"/>

</xs:schema>
